<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KSFS">

	<!-- <listeners>
		<listener class-name="com.kony.ktas.KeywordDriven.Library.CustomReport" />
	</listeners> -->

	<!-- <test name="Automation"> <parameter name="browserName" value="Chrome" 
		/> <parameter name="DRIVER_PATH" value="/usr/local/chromedriver/chromedriver" 
		/> <parameter name="BROWSER_PATH" value="/opt/google/chrome/chrome" /> <parameter 
		name="WEB_APP_URL" value="https://retailbanking2.konycloud.com/apps/KonyOLB" 
		/> <classes> <class name="com.kony.base.BaseClass" /> </classes> </test> -->



	<test name="Automation">
		<parameter name="browserName" value="Chrome" />
		<parameter name="DRIVER_PATH" value="/usr/local/chromedriver/chromedriver" />
		<parameter name="BROWSER_PATH" value="/opt/google/chrome/chrome" />
		<!-- <parameter name="WEB_APP_URL" value="https://retailbanking2.konycloud.com/apps/KonyOLB" 
			/> -->
		<classes>
			<class name="com.kony.ktas.KeywordDriven.Library.KeywordDriverScript" />
			
		</classes>
	</test>
</suite>