<?xml version="1.0" encoding="UTF-8" standalone="no"?><suite name="TestSuite" parallel="tests"><test name="Test_Android,Galaxy S9,9.0,2a65c9ae0a057ece"><parameter name="OS" value="Android"/><parameter name="DeviceName" value="Galaxy S9"/><parameter name="DeviceVersion" value="9.0"/><parameter name="UDID" value="2a65c9ae0a057ece"/><classes><class name="com.kony.ktas.KeywordDriven.Library.KeywordDriverScript"/></classes></test></suite>