#doughnut-chart{
  background-color: #ffffff;
  position:relative;
  height:90%;
  width:90%;
}
.ct-series-a .ct-slice-donut {
  stroke: #003e75;
  stroke-linecap:round;
}
.ct-series-b .ct-slice-donut {
  stroke: #d9d9d9;
  stroke-linecap:round;
}
.ct-series-c .ct-slice-donut {
  stroke: #2F8523;
  stroke-linecap:round;
}

